*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Andika', sans-serif;
}

header{
    border-bottom: 2px solid grey;
}

#headertop{
    background-color: grey;
    color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.container{
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;
    margin: 0 auto;
}

#headerbottom{
    padding: 1 0rem;
}

#headertop .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#headerbottom .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;
}

#logoimage{
    width: 2.25rem;

}

#headerlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}


#headerlinks a{
    color: rgb(63, 60, 60);
}

.headerlink{
    position: relative;
}

.count{
    font-size: 0.75rem;
    background-color: orange;
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    position: absolute;
    top: 0;
    right: 0;
    translate: 40% 20%;
}

#menubutton{
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
}

#languageselect{
    display: none;
}
#headercategories{
    display: none;
}

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
    /* Your styles for medium screens go here */
    #headertop .container{
        justify-content: space-between;
    }
    #languageselect{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
    }
   #flag{
        width: 1.25rem;
    }
   
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
    #menubutton{
        display: none;
    }

    #headercategories{
        display: flex;
        padding: 1rem;
    }

    #alldepartmentsbutton{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        border: none;
        background-color: rgb(52, 203, 52);
        color: white;
        border-radius: 0.5rem;
    }
    #homebutton{
        display: flex

    }
    #anotherbutton{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}


/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}